# Fortran modules and linking files
*.mod
*.o

#Executable Names
*.exe
*.out
pre-processors/THOR_Mesh_Generator/src/Thor_Mesh_Generator

#Documentation Src Files
**/html
**/latex

#Misc
.DS_Store

#user manual outputs
docs/usermanual/output/*
docs/theorymanual/output/*
docs/developermanual/output/*

#manual outputs if someone just makes with latexmk
.vscode
*.aux
*.fdb_latexmk
*.fls
*.log
*.tkzfct.gnuplot
*.tkzfct.table
main-blx.bib
main.bbl
main.blg
main.loa
main.lof
main.lot
main.out
main.pdf
main.run.xml
main.synctex.gz
main.toc
*.bbl
*.blg

#files created in tutorials/generating libraries
THOR/examples/Godiva_tutorial/THOR/godiva.i_out.csv
THOR/examples/Godiva_tutorial/THOR/intermediate_output_even.dat
THOR/examples/Godiva_tutorial/THOR/intermediate_output_odd.dat
THOR/examples/Godiva_tutorial/THOR/pi_hard_eig_1grp.fluxeven
THOR/examples/Godiva_tutorial/THOR/pi_hard_eig_1grp.fluxodd
THOR/hello_world/hello_world.fluxeven
THOR/hello_world/hello_world.fluxodd
THOR/hello_world/hello_world.in_out.csv
THOR/hello_world/intermediate_output_even.dat
THOR/hello_world/intermediate_output_odd.dat
THOR/src/liblapack.a
THOR/src/librefblas.a
THOR/src/libskit.a
THOR/src/libtmglib.a
contrib/SPARSKIT2/libskit.a
contrib/libmesh/
contrib/libs/
pre-processors/THOR_Mesh_Generator/test/convert_old_to_new_THOR/takeda.thrm
pre-processors/THOR_Mesh_Generator/test/homogeneous_domain/homogeneous.thrm
pre-processors/THOR_Mesh_Generator/test/homogeneous_domain/homogeneous_from_exodus.thrm

#workspace
workspace/

#regression test outputs
THOR/examples/regression_tests/**/*.csv
THOR/examples/regression_tests/**/*.dat
THOR/examples/regression_tests/**/*.flux
THOR/examples/regression_tests/**/*.fluxeven
THOR/examples/regression_tests/**/*.fluxodd
THOR/examples/regression_tests/**/*.log
THOR/examples/regression_tests/**/*.vtk
THOR/examples/regression_tests/**/*.vtkeven
THOR/examples/regression_tests/**/*.vtkodd
THOR/examples/regression_tests/**/*.pg
THOR/examples/regression_tests/**/*.convergence
THOR/examples/regression_tests/**/*.out
THOR/examples/regression_tests/**/*.outeven
THOR/examples/regression_tests/**/*.outodd

#tutorial files
THOR/examples/*_tutorial/**/*.thrm
THOR/examples/*_tutorial/**/*.msh
THOR/examples/*_tutorial/**/*.vtk
THOR/examples/*_tutorial/**/*.vtkeven
THOR/examples/*_tutorial/**/*.vtkodd
THOR/examples/*_tutorial/**/*.log
THOR/examples/*_tutorial/**/*out.csv
THOR/examples/*_tutorial/**/*.convergence
THOR/examples/*_tutorial/**/*.outeven
THOR/examples/*_tutorial/**/*.outodd
THOR/examples/*_tutorial/**/*even.dat
THOR/examples/*_tutorial/**/*odd.dat
